/* SITE FONT FACE */
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Roboto-Regular.woff2') format('../woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




/* CUSTOM PROPS*/
:root{
    --site-fonts: "Roboto", "Arial", sans-serif;
    --brand-color: #ea625c;
    --text-color: #333;
    --second-color: #222;
    --black-color: #000;
    --white-color: #fff;
    --seven-color: #777;
    --brand-hover-color: #c9514c;
}


/* GLOBAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--site-fonts) ;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--text-color); 
    background-color: var(--white-color);
}
.container{ 
    width: 100%;
    max-width: 1040px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}
/* GLOBAL STYLES END */


/* HEADER STYLES START */
.header {
    padding: 30px 0px;
}
.header-container {
    display: flex;
    align-items: center;

}
.logo {
    display: flex;
    margin-right: auto;
}
.logo-img {
    width: 35px;
    height: 42px;
    object-fit: contain;

}
.header-nav {
    margin-right: 40px;
}
.heaeder-list {
    display: flex;
    list-style: none;

}
.header-nav-item:not(:last-child) {
    margin-right: 30px;
}
.header-nav-link{
    font-size: 15px;
    line-height: 22.5px;
    color: var(--text-color);
    text-decoration: none;
    position: relative;
}
.header-nav-link::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--text-color);
    position: absolute;
    bottom: -5px;
    right: 50%;
    transition: width 0.5s ease;
}
.header-nav-link::before{
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--text-color);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transition: width 0.2s ease;
}
.header-nav-link:hover::after{
    width: 51%;
}
.header-nav-link:hover::before{
    width: 51%;
}
.search-input{
    width: 153px;
    font-size: 15px;
    color: #666;
    border: none;
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 3px;
    outline: none;
}
.header-form{
    position: relative;
}
.header-form::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--text-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s ease;
}
.header-form:hover::after{
    width: 100%;
}
/* HEADER STYLES END */


/* MAIN STYLES START */
.site-main{
    flex-grow: 1 ;
}
.hero-section {
    padding: 140px 0px 186px ;
    background-image: url("../img/png/watch.png");
    background-repeat: no-repeat;
    background-size: 587px 565px;
    background-position: calc(50% + 534px ) bottom;
    border-bottom: 2px solid #ddd;
}
.hero-section-container {
    display: flex;
}
.hero-section-text-wrapper {
    width: 100%;
    max-width: 490px;

}
.hero-section-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: var(--black-color);
    margin-bottom: 30px;

}
.hero-section-text {
    font-size: 16px;
    color: var(--seven-color);
    border-left: 3px solid #888;
    padding-left: 37px;
    margin-bottom: 30px;
}
.red-btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-color);
    padding: 12px 0px;
    background-color: var(--brand-color);
    display: inline-block;
}
.red-btn:hover{
    background-color: #000;
    color: #fff;
}
.hero-section-btn {
    padding: 12px 38.5px;
    transition: 0.4s;
}
.hero-section-btn:active{
    transition: 0.3s;
    opacity: 0.8;
}

/* FEATURES SECTION STYLES */
.features-section {
    padding: 70px 0px;
}
.features-section-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.features-section-item{
    width: 275px;
}
.features-section-item:not(:last-child) {
    margin-right: 80px;
}
.features-section-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: var(--second-color);
    margin-bottom: 30px;

}
.features-section-item-text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--text-color);
}
.features-section-dot {
    width: 8px;
    height: 8px;
    background-color: #ddd;
    display: inline-block;
    box-shadow: 18px 0px #ddd,
    36px 0px #ddd;
}
.features-section-link {
    font-weight: 700; 
    font-size: 16px;
    line-height: 25.6px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--brand-color);
    display: flex;
    align-items: center;
}
.features-section-link::before{
    content: "";
    width: 40px;
    height: 3px;
    background-color: var(--brand-color);
    margin-right: 10px;
    transition: width 0.5s ease;
}
.features-section-link:hover.features-section-link::before{
    width: 60px;
}

/* MAIN STYLES END */




/* FOOTER STYLES START */

/* FOOTER STYLES END */
